* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display', 'roboto';
}

:root {
    --background-color: #0891b2;
}

h1 {
    transform: translateY(-60px);
    color: white;
}

.red {
    background-color: #9e1c1c;
  }
  
  .purple {
    background-color: #7c75ca;
  }
  
  .green {
    background-color: #5e8f4d;
  }
  
  .pink {
    background-color: #c363b4;
  }
  
  .orange {
    background-color: #d88f39;
  }
  
  .blue {
    background-color: #4ba2d2;
  }
  


body {
    font-size: 16px;
}

.header {
    /* display: flex; */
    position: relative;
    height: 400px;
    overflow: hidden;
    margin-bottom: 50px;
}

.diagonal-background {
    position: absolute;
    top: -250px;
    left: -1000px;
    right: 0;
    height: 150%;
    z-index: -1;
    transform: rotate(350deg);
    background: var(--background-color);
}

.profile-container {
    display: flex;
    padding: 30px;
    border-radius: 10px;
    width: 100%;
}

.about {
    background: white;
    align-self: stretch;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    height: 300px;
    transform: translateY(30px);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.profile > img {
    width: 300px;
}

a > img {
    width: 40px;
    height: auto;
}

.social-links {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.social-contact-links {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}

.project {
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-align: center;
    height: 400px;
    position: relative;
  }
  
  .projects {
    display: grid;
    grid-gap: 50px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    max-width: 1200px;
    margin: auto;
}


.portfolio > h2 {
    margin-left: 100px;
    margin-bottom: 20px;
}

.portfolio {
    margin-bottom: 50px;
}

.project-image {
    height: 300px;
    font-size: xx-large;
    text-align: center;
    padding: 80px;
    color: white;
}

.project-links {
    display: flex;
    justify-content: space-between;
}



.contact{
    height: 400px;
    background-color: var(--background-color);
}

.contact-container {
    /* height: 400px; */
    display: flex;
    gap: 20px;
    background-color: var(--background-color);
    padding-top: 60px;
    color: white;
    max-width: 1200px;
    margin: auto;
}

.contact-image > img {
    width: 500px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.contact-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

p > img {
    width: 24px;
    height: 24px;
}

/* @media (max-width: 900px) {
    .profile > img {
        transform: translate(-90px, 45px);
    }
} */